body {
    /* background-image: url("../images/floor-tile.png"); */
    background-color: #80d4ff;
}

h1 {
    font-family: 'Fredericka the Great', cursive;
    font-size: 50px;
}

#game-title {
    height: 100px;
    background-color: black;
    color: white;
}

#game-instructions {
    background-color: white;
    padding: 15px;
    border-radius: 20px 20px 0px 0px;
}

#scoreboard {
    background-color: lightgray;
    padding: 15px;
    border-radius: 0px 0px 0px 20px;
}

#four-crystals {
    background-color: lightgray;
    padding: 15px;
    border-radius: 0px 0px 20px 0px;
}

#crystal0 {
    border-style: solid;
    border-width: 3px;
    border-color: red;
    float: left;
    margin-left: 10px;
    margin-right: 10px;
}

#crystal1 {
    border-style: solid;
    border-width: 3px;
    border-color: green;
    float: left;
    margin-left: 10px;
    margin-right: 10px;
}

#crystal2 {
    border-style: solid;
    border-width: 3px;
    border-color: blue;
    float: left;
    margin-left: 10px;
    margin-right: 10px;
}

#crystal3 {
    border-style: solid;
    border-width: 3px;
    border-color: blueviolet;
    float: left;
    margin-left: 10px;
    margin-right: 10px;
}

#total-score {
    background-color: gray;
    padding: 15px;
    height: 100px;
}